<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deno Cheat Sheet</title>
  <link rel="stylesheet" href="styles.css?cache={{ cache }}">
  <script type="module" src="scripts/main.js?cache={{ cache }}"></script>
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"oscarotero",utcoffset:"2"}))};sessionStorage.setItem("_swa","1");</script>
</head>
<body>
  <h1 class="main-title">
    <img src="deno-logo.svg" width="50" height="50" alt="Deno Logo" class="logo">
    <span>Deno cheat sheet</span>
    <small>v1.37</small>
  </h1>

  <section class="section">
    <div class="section-tools">
      {% for tool in tools %}
      <section class="section-tool">
        <h3 class="section-subtitle">
          <span class="section-tool-img">{{ tool.emoji }}</span>
          <a href="{{ tool.manual }}" data-modal>
            {{ tool.title }}
          </a>
          {% if not tool.stable %}
            &nbsp;
            <span class="badge">unstable</span>
          {% endif %}
        </h3>
        {{ comp.deno.tool(tool) | safe }}
      </section>
      {% endfor %}
    </div>
  </section>

  <section class="section">
    <header class="section-header">
      <h2 class="section-title">Deno runtime API</h2>
    </header>

    <div class="section-content">
      {% for section in deno %}
      <section class="section-subsection">
        <h3 class="section-subtitle">{{ section.title }}</h3>

        <ul class="section-items">
        {% for item in section.content | sort(false, false, "name") %}
          <li>
            {{ comp.deno.api(item) | safe }}
          </li>
        {% endfor %}
        </ul>
      </section>
      {% endfor %}
    </div>
  </section>

  <section class="section">
    <header class="section-header">
      <h2 class="section-title">Web APIs</h2>
    </header>

    <div class="section-content">
      {% for section in web %}
      <section class="section-subsection">
        <h3 class="section-subtitle">{{ section.title }}</h3>

        <ul class="section-items">
        {% for item in section.content | sort(false, false, "name") %}
          <li>
            {{ comp.deno.api(item) | safe }}
          </li>
        {% endfor %}
        </ul>
      </section>
      {% endfor %}
    </div>
  </section>

  <section class="section">
    <header class="section-header">
      <h2 class="section-title">Standard library</h2>
    </header>

    <div class="section-content">
      {% for section in std %}
      <section class="section-subsection">
        <h3 class="section-subtitle">
          <a href="https://deno.land/std{{ section.url }}">
            {{ section.title }}
          </a>

          {% if section.browser %}
          &nbsp; <span class="badge is-browser">Browser</badger>
          {% endif %}
        </h3>
        {{ section.description | md | safe }}
      </section>
      {% endfor %}
    </div>
  </section>

  <x-modal></x-modal>

  <footer class="main-footer">
    <p>Created by <a href="https://twitter.com/misteroom/">Óscar Otero</a> - <a href="https://github.com/oscarotero/deno-cheatsheet">See the code</a></p>
  </footer>
</body>
</html>