@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --font-ui: Inter, -apple-system, system-ui, sans-serif;
  --font-code: monospace;
  --color-bg: hsl(250deg, 20%, 95%);
  --color-border: hsl(250deg, 20%, 86%);
  --color-code: hsl(250deg, 20%, 40%);

  --color-interact: hsl(250deg, 20%, 20%);
  --color-interact-hover: hsl(250deg, 20%, 0%);
  --color-interact-bg: hsl(250deg, 20%, 86%);
  --color-interact-bg-hover: hsl(250deg, 20%, 80%);

  --color-badge: hsl(346, 55%, 30%);
  --color-badge-bg: hsl(346, 44%, 90%);
}
body {
  font-family: var(--font-ui);
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 5vw;
  line-height: 1.5;
}
pre, code {
  font-family: var(--font-code);
}
pre {
  margin: .5em 0;
}
code {
  font-size: .85rem;
  background: var(--color-bg);
  color: var(--color-code);
  border: solid 1px var(--color-border);
  padding: 0.1em 0.3em;
  border-radius: 4px;
}
pre > code {
  display: block;
  overflow: auto;
  padding: .5em 1em;
}

.main-title {
  font-size: 2rem;
  letter-spacing: -0.02em;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.main-footer {
  text-align: center;
  font-size: 0.85rem;
  margin: 4rem 0;

  & a {
    color: inherit;
  }
}

.section-header {
  margin-bottom: 1em;
  border-bottom: solid 1px var(--color-border);
  background: white;
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  margin: 4rem 0 2rem 0;
}
.section-title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.section-content {
  column-width: 13em;
  column-gap: 3em;
  column-rule: 1px solid var(--color-border);

  & > * {
    break-inside: avoid;
  }
}
.section-subsection {
  margin-bottom: 1em;
  border-radius: 4px;
  overflow: hidden;
}
.section-subtitle {
  font-size: 1rem;
  margin: 0 0 .5em;

  & a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
.section-items {
  font-size: .85rem;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;

  & p {
    margin: 0;
  }

  & a {
    display: inline-block;
    padding: .2em 0;
    border-radius: .3em;
    text-decoration: none;
    color: var(--color-interact);

    &:hover {
      color: var(--color-interact-hover);
      text-decoration: underline;
    }
  }
}
.section-tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}
.section-tool {
  border: solid 1px var(--color-border);
  border-radius: 8px;
  padding: 1rem;
  background: var(--color-bg);

  & > pre code {
    padding-left: 0;
    border: none;
    background: none;
  }
}

.badge {
  display: inline-block;
  text-transform: uppercase;
  font-size: .65rem;
  background: var(--color-badge-bg);
  color: var(--color-badge);
  padding: .1em .5em;
  border-radius: 8px;
  font-family: var(--font-ui);
}

.config-dialog[open] {
  width: min(800px, calc(100vw - 20px));
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 1em 1em .5em .5em;
  border: none;

  & nav {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    justify-content: end;
    column-gap: 1em;
    padding: .5em;
  }
  & button {
    width: 2em;
    height: 2em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: inherit;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.button {
  background: var(--color-interact-bg);
  border: none;
  padding: .5em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1;
  color: var(--color-interact);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: var(--color-interact-hover);
    background: var(--color-interact-bg-hover);
  }
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.config-content {
  line-height: 1.6;
  padding: 1.5em;
  max-height: calc(100vh - 20px);
  overflow-y: auto;

  & ul {
    padding-left: 1.2em;
  }

  & h3 {
    margin: 2em 0 0;
    border-bottom: solid 1px var(--color-border);
  }

  & > :first-child {
    margin-top: 0;
  }

  & a {
    color: inherit;
  }
}